<!-- build:js js/libs.js -->
<script src="../js/libs/jquery-3.5.1.min.js"></script>
<script src="../js/libs/intersection-observer.0.7.0.js"></script>
<script src="../js/libs/lazyload.17.1.0.min.js"></script>
<script src="../js/libs/popper.min.js"></script>
<script src="../js/libs/bootstrap.min.js"></script>
<!-- endbuild -->

<!-- build:js js/globals.js -->
<script src="../js/global/global.js"></script>
<script src="../js/global/load-images.js"></script>
<script src="../js/global/navigation.js"></script>
<!-- endbuild -->

<!-- build:js js/pages.js -->
<script src="../js/modules/pages.js"></script>
<!-- endbuild -->

