<!-- Banner hero -->
<section class="block" id="bannerHero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <h1>Phong Nguyễn | RESUME</h1>
                    <div class="content__header">
                        <ul>
                            <li>
                                <a href="#information">Phong Nguyễn</a>
                            </li>
                            <li>
                                <a href="#experience">Works</a>
                            </li>
                            <li>
                                <a href="#education">Education</a>
                            </li>
                            <li>
                                <a href="#projects">Projects</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content__body">
                        <!-- <marquee direction="left" behavior="scroll" scrollamount="8">
                            <span class="uppercase">PHONG NGUYEN </span>
                            <span>aka PETER&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="uppercase">PHONG NGUYEN </span>
                            <span>aka PETER&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="uppercase">PHONG NGUYEN </span>
                            <span>aka PETER&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="uppercase">PHONG NGUYEN </span>
                            <span>aka PETER&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span class="uppercase">PHONG NGUYEN </span>
                            <span>aka PETER&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </marquee>
                        <marquee direction="right" behavior="scroll" scrollamount="5">
                            <span>Developer&nbsp;&nbsp;&nbsp;Lecturer&nbsp;&nbsp;&nbsp;</span>
                            <span>Developer&nbsp;&nbsp;&nbsp;Lecturer&nbsp;&nbsp;&nbsp;</span>
                            <span>Developer&nbsp;&nbsp;&nbsp;Lecturer&nbsp;&nbsp;&nbsp;</span>
                            <span>Developer&nbsp;&nbsp;&nbsp;Lecturer&nbsp;&nbsp;&nbsp;</span>
                            <span>Developer&nbsp;&nbsp;&nbsp;Lecturer&nbsp;&nbsp;&nbsp;</span>
                            <span>Developer&nbsp;&nbsp;&nbsp;Lecturer&nbsp;&nbsp;&nbsp;</span>
                        </marquee> -->
                        <ul class="marquee-wrap">
                            <li>
                                <ul>
                                    <li>PHONG NGUYEN</li>
                                    <li>PETER</li>
                                    <li>PETER</li>
                                    <li>PHONG NGUYEN</li>
                                    <li>PHONG NGUYEN</li>
                                    <li>PETER</li>
                                    <li>PETER</li>
                                    <li>PHONG NGUYEN</li>
                                    <li>PHONG NGUYEN</li>
                                    <li>PETER</li>
                                    <li>PETER</li>
                                    <li>PHONG NGUYEN</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li>Developer</li>
                                    <li>Lecturer</li>
                                    <li>Lecturer</li>
                                    <li>Developer</li>
                                    <li>Developer</li>
                                    <li>Lecturer</li>
                                    <li>Lecturer</li>
                                    <li>Developer</li>
                                    <li>Developer</li>
                                    <li>Lecturer</li>
                                    <li>Lecturer</li>
                                    <li>Developer</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="content__footer">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- END Banner hero -->