<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="col-12 col-md-6 col-lg-4">
                <h3>Phong Nguyen Portfolio</h3>
                <p>My creative mindset allows me to generate innovative ideas to enhance my performance at work.</p>
                <p>The keywords that resonate with me are "focus," "reality," and "sustainability."</p>
            </div>
            <div class="col-12 col-md-6 col-lg-8 col-xl-7 offset-xl-1">
                <h3>Contact info</h3>

                <div class="contact-info">
                    <ul class="personal-info">
                        <li>
                            <a href="tel:+84902767595" class="phone">+84 902 767 595</a>
                        </li>
                        <li>
                            <a href="mailto:phong.msit@gmail.com" class="email">phong.msit@gmail.com</a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/hwBmtxqKtGwuPQvM6" target="_blank" class="location">Ho Chi Minh
                                city, Vietnam</a>
                        </li>
                    </ul>

                    <ul class="personal-sns">
                        <li>
                            <a href="https://www.linkedin.com/in/phongmsit" target="_blank">
                                <img src="img/icon_sns_linkedin.svg" alt="Phong Nguyen's Linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Phong.MSIT/" target="_blank">
                                <img src="img/icon_sns_fbk.svg" alt="Phong Nguyen's Facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/phong.msit/" target="_blank">
                                <img src="img/icon_sns_ig.svg" alt="Phong Nguyen's Instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://zaloapp.com/qr/p/gzjteg0uj9g2" target="_blank">
                                <img class="img-lg" src="img/icon_sns_zalo.svg" alt="Phong Nguyen's Zalo">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright text-center">
                    &copy; Designed and developed by <a href="mailto:phong.msit@gmail.com">phong.msit</a>
                </div>
            </div>
        </div>
    </div>
</footer>