<!-- Projects -->
<section class="block" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Projects</h2>
                <ul class="project-list">
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj18">
                        <label for="chkbxPrj18" class="project-content" data-year="2024"
                            title="At The Edge Academy">
                            <span>At The Edge Academy</span>
                            <dl>
                                <dd><strong>Skills: </strong>ReactJS + Atomic design, Tailwind CSS, MySQL, CMS Wordpress.</dd>
                                <dd><a href="https://202404-clickacademy.vercel.app/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj17">
                        <label for="chkbxPrj17" class="project-content" data-year="2023"
                            title="🏃 Game 🏃‍♂️ Marathon 🏃‍♀️">
                            <span>🏃 Game 🏃‍♂️ Marathon 🏃‍♀️</span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, ReactJS, Pixi.js</dd>
                                <dd><a href="https://run4yl.clickvmlyr.dev/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj16">
                        <label for="chkbxPrj16" class="project-content" data-year="2023"
                            title="VML VN 🎅 Share Your Wish 🎄">
                            <span>VML VN 🎅 Share Your Wish 🎄</span>
                            <dl>
                                <dd><strong>Skills: </strong>HTML/SCSS/JS, ReactJS, React SKetch Canvas, NodeJS, MongoDB, Express, SocketIO, JWT.</dd>
                                <dd><a href="https://moodboard.clickvmlyr.dev/draw-dashboard" target="_blank">View page</a>
                                </dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj15">
                        <label for="chkbxPrj15" class="project-content" data-year="2023"
                            title="VML VN 😄 Emotions Board 😄">
                            <span>VML VN 😄 Emotions Board 😄</span>
                            <dl>
                                <dd><strong>Skills: </strong>HTML/SCSS/JS, ReactJS, NodeJS, MongoDB, Express, SocketIO, JWT.</dd>
                                <dd><a href="https://moodboard.clickvmlyr.dev/mood-dashboard" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj14">
                        <label for="chkbxPrj14" class="project-content pj-qrgen" data-year="2023" title="QR Code Generator">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, ReactJS.</dd>
                                <dd><a href="https://qr.phong.info" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj13">
                        <label for="chkbxPrj13" class="project-content pj-phonginfo" data-year="2023" title="Phong Nguyen Page">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/<s>JS</s>, Grunt JS.</dd>
                                <dd><a href="#">This page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj12">
                        <label for="chkbxPrj12" class="project-content" data-year="2023" title="AIA Insurance">
                            <span>AIA Insurance</span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS.</dd>
                                <dd><a href="https://aialdp.clickvmlyr.dev/product-huoutrang" target="_blank">View page</a>
                                </dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj11">
                        <label for="chkbxPrj11" class="project-content pj-teaplus" data-year="2022"
                            title="Suntory Olong Teaplus+">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, Swiper, AE + LottieJS, Vite.</dd>
                                <dd><a href="https://suntory.vn/vi/teaplus/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj10">
                        <label for="chkbxPrj10" class="project-content pj-kose" data-year="2022" title="Kose Kidzania">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, Photoshop, Adobe Illustrator.</dd>
                                <dd><a href="https://www.kose.co.jp/company/ja/kidzania/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <!-- <li class="project">
                        <input type="checkbox" id="chkbxPrj09">
                        <label for="chkbxPrj09" class="project-content pj-infroneer" data-year="2022" title="Infroneer">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, ReactJS, Pixi</dd>
                                <dd><a href="https://www.infroneer.com/en/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li> -->
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj08">
                        <label for="chkbxPrj08" class="project-content pj-sakata" data-year="2021" title="Sakata">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, Photoshop, Adobe Illustrator.</dd>
                                <dd><a href="https://sakata-tsushin.com/yomimono/tokushu/20210907_008353.html"
                                        target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj07">
                        <label for="chkbxPrj07" class="project-content pj-kikumasamune" data-year="2021"
                            title="Kikumasamune">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, Adobe Illustrator.</dd>
                                <dd><a href="https://www.kikumasamune.shop/c/gentei/netonly/ns501"
                                        target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <!-- <li class="project">
                        <input type="checkbox" id="chkbxPrj06">
                        <label for="chkbxPrj06" class="project-content pj-topvalu" data-year="2021"
                            title="Topvalu Vegetive">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, ReactJS, Pixi</dd>
                                <dd><a href="https://www.topvalu.net/vegetive/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li> -->
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj05">
                        <label for="chkbxPrj05" class="project-content pj-bictaglabel" data-year="2020"
                            title="Bic Original Tag Label">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, Photoshop, Adobe Illustrator.</dd>
                                <dd><a href="https://www.biccamera.com/bc/c/original/taglabel/" target="_blank">View page</a>
                                </dd>
                            </dl>
                        </label>
                    </li>
                    <!-- <li class="project">
                        <input type="checkbox" id="chkbxPrj04">
                        <label for="chkbxPrj04" class="project-content pj-bicbasic" data-year="2020" title="Bic Original Basic">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, ReactJS, Pixi</dd>
                                <dd><a href="https://www.biccamera.com/bc/c/original/basic/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li> -->
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj03">
                        <label for="chkbxPrj03" class="project-content pj-bicselect" data-year="2020" title="Bic Original Select">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, Photoshop, Adobe Illustrator.</dd>
                                <dd><a href="https://www.biccamera.com/bc/c/original/select/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                    <!-- <li class="project">
                        <input type="checkbox" id="chkbxPrj02">
                        <label for="chkbxPrj02" class="project-content pj-bicoriginal" data-year="2020" title="Bic Original">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, ReactJS, Pixi</dd>
                                <dd><a href="https://www.biccamera.com/bc/c/original/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li> -->
                    <li class="project">
                        <input type="checkbox" id="chkbxPrj01">
                        <label for="chkbxPrj01" class="project-content pj-bickids" data-year="2019" title="Bic Kids">
                            <span></span>
                            <dl>
                                <dd><strong>Skills: </strong> HTML/SCSS/JS, AE + LottieJS, Photoshop, Adobe Illustrator.</dd>
                                <dd><a href="https://www.biccamera.co.jp/bic_kids/" target="_blank">View page</a></dd>
                            </dl>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END Projects -->