<!-- Banner hero -->
<section class="block" id="bannerHero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="content__header">
                        <div>
                            <p>Phong Nguyen</p>
                            <p>Based in Ho Chi Minh city, Vietnam</p>
                        </div>
                        <div>
                            <p>Work Expreience</p>
                            <p>Education</p>
                        </div>
                    </div>
                    <div class="content__body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="content__footer">
                        <figure>
                            <img src="img/img_phong_01.png" alt="Phong Nguyen">
                            <figcaption>Phong Nguyen</figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- END Banner hero -->