<!-- Banner hero -->
<section class="block" id="bannerHero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="content__header">
                        <ul>
                            <li>
                                <a href="#information">Phong MSIT</a>
                            </li>
                            <li>
                                <a href="#experience">Work experience</a>
                            </li>
                            <li>
                                <a href="#education">Education</a>
                            </li>
                            <li>
                                <a href="#projects">Projects</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content__body">
                        <ul class="marquee-wrap">
                            <li>
                                <ul>
                                    <li>FRONTEND</li>
                                    <li>FRONTEND</li>
                                    <li>FRONTEND</li>
                                    <li>FRONTEND</li>
                                    <li>FRONTEND</li>
                                </ul>
                            </li>
                            <li>
                                <!-- reverse line -->
                                <ul>
                                    <li>DEVELOPER</li>
                                    <li>DEVELOPER</li>
                                    <li>DEVELOPER</li>
                                    <li>DEVELOPER</li>
                                    <li>DEVELOPER</li>
                                </ul>
                            </li>
                        </ul>
                        <!-- <span>FRONTEND</span>
                        <span>DEVELOPER</span> -->
                    </div>
                    <div class="content__footer">
                        <figure>
                            <img src="img/img_phong.png" alt="Phong Nguyễn | Phong MSIT">
                            <figcaption>
                                <h1>Nguyễn Thanh Phong MSIT</h1>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- END Banner hero -->