wp-config.php
wp-content/uploads
*.phpproj
*.phpproj.user
*.sln
.DS_Store
.vs
*.orig
*.map
.tmp
*.config
*.sublime-project
*.sublime-workspace
node_modules
tools/node_modules
.htaccess
.editorconfig
.idea
/nbproject/private/
src/wp-config.php
.vscode/

