footer {
    background-color: $secondary-color;
    color: $white;
    a {
        color: $yellow;
        &:hover {
            color: $colorNuy;
        }
    }

    .footer-content {
        padding: 40px 0 0;

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        @include media-breakpoint-up(lg) {
            padding: 50px 0 0;
        }

        h3 {
            font-weight: $font-weight-xbold;
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 30px;

            @include media-breakpoint-up(xl) {
                font-size: 24px;
            }
        }

        p {
            margin-bottom: 20px;
        }

        .contact-info {
            @include media-breakpoint-up(lg) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            ul {
                &.personal-info {
                    margin-bottom: 30px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 20px;
                    }

                    li {
                        ~ li {
                            margin-top: 10px;
                        }

                        a {
                            display: inline-block;
                            position: relative;
                            padding: 10px 10px 10px 45px;

                            &:hover {
                                &::before {
                                    background-color: $colorNuy;
                                }
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 50%;
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                background-color: $orange;
                                transform: translateY(-50%);
                            }
                            &.phone {
                                &::before {
                                    background: $orange url(../img/icon_phone.svg) center no-repeat;
                                    background-size: 50%;
                                }
                            }
                            &.email {
                                &::before {
                                    background: $orange url(../img/icon_email.svg) center no-repeat;
                                    background-size: 50%;
                                }
                            }
                            &.location {
                                &::before {
                                    background: $orange url(../img/icon_location.svg) center no-repeat;
                                    background-size: 50%;
                                }
                            }
                        }
                    }
                }

                &.personal-sns {
                    @include media-breakpoint-up(md) {
                        justify-content: flex-start;
                    }
                    li {
                        a {
                            background-color: $orange;
                            &:hover {
                                background-color: #b94e12;
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright {
        padding: 40px 0 20px;
        font-size: 12px;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
            padding: 20px 0;
        }
    }
}