<head>
	<title>Phong Nguyễn | RESUME</title>
	<meta name="title" content="Phong Nguyễn | RESUME">
	<meta name="description"
		content="Personal website of Nguyen Thanh Phong (aka Peter). Introducing himself and his practical work experience.">
	<meta name="keywords"
		content="phongmsit, Phong Nguyễn, phong nguyễn, phong nguyen, nguyen thanh phong, phong peter, phong live, phong tech, phong dev, phong frontend dev">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="language" content="English">
	<meta name="revisit-after" content="1 days">
	<meta name="author" content="Nguyen Thanh Phong">
	<meta name="publisher" content="Nguyen Thanh Phong">
	<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=5.0">

	<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
	<link rel="manifest" href="img/favicons/site.webmanifest">
	<link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#fbc82e">
	<meta name="theme-color" content="#fbc82e">

	<meta property="og:url" content="http://phong.info" />
	<meta property="og:title" content="Phong Nguyễn | RESUME" />
	<meta property="og:description" content="Personal website of Nguyen Thanh Phong (aka Peter). Introducing himself and his practical work experience." />
	<meta property="og:image" content="http://phong.info/img/og_image.png" />
	<meta property="og:image:url" content="http://phong.info/img/og_image.png" />
    <meta property="twitter:image" content="http://phong.info/img/og_image.png"  />

	<link rel="stylesheet" href="css/style.css">
</head>