<!-- Work experience -->
<section class="block" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Works</h2>
                <ul class="job-timeline">
                    <li class="job">
                        <p>
                            <span class="job__title">Visiting lecturer</span>
                            <span class="job__company">VNUHCM - UIT</span>
                            <span class="job__time">Feb 2023 - Present. (Partime)</span>
                        </p>
                    </li>
                    <li class="job">
                        <p>
                            <span class="job__title">Frontend developer</span>
                            <span class="job__company">VMLY&R</span>
                            <span class="job__time">Oct 2022 - Present. (Fulltime)</span>
                        </p>
                    </li>
                    <li class="job">
                        <p>
                            <span class="job__title">Frontend developer</span>
                            <span class="job__company">株式会社YUIDEA</span>
                            <span class="job__time">Jun 2019 - Sep 2022. (Fulltime)</span>
                        </p>
                    </li>
                    <li class="job">
                        <p>
                            <span class="job__title">Web developer</span>
                            <span class="job__company">CCIntegration, Inc.</span>
                            <span class="job__time">Nov 2015 - Jan 2018. (Fulltime)</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END Work experience -->