<!-- Education -->
<section class="block" id="education">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Education</h2>
                <ul class="edu-list">
                    <li>
                        <div class="edu">
                            <div class="edu-img">
                                <img width="100%" src="img/logo_hcmuit_2023.svg" alt="VNUHCM - University of Information Technology">
                            </div>
                            <div class="edu-content">
                                <p>
                                    <a href="https://www.uit.edu.vn/tra-cuu/van-bang/80540/thong-tin" target="_blank">VNUHCM - University of Information
                                        Technology</a><br>
                                    Master's degree in Information Technology.<br class="d-none d-md-block"> 2022
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="edu">
                            <div class="edu-img">
                                <img width="100%" src="img/logo_hcmus_2023.svg" alt="VNUHCM - University of Science">
                            </div>
                            <div class="edu-content">
                                <p>
                                    <a href="https://pdt.hcmus.edu.vn/dstn/DSSVTN?masv=1642050&ngaysinh=11%2F07%2F1994&_search=false&nd=1684814137421&rows=5&page=1&sidx=&sord=desc" target="_blank">VNUHCM - University of
                                        Science</a><br>
                                    Bachelor's degree in Information Technology.<br class="d-none d-md-block"> 2018
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END Education -->