<!-- information -->
<section class="block" id="information">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">About me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="personal-info">
                    <h3>Phong Nguyen</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero, cupiditate ipsam totam
                        deleniti
                        nam laborum assumenda culpa aspernatur tempora, accusantium nisi dolorum similique, repudiandae
                        perspiciatis accusamus alias tenetur vitae?</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <ul class="personal-sns">
                    <li>
                        <a href="https://www.linkedin.com/in/phongmsit" target="_blank">
                            <img src="img/icon_sns_linkedin.svg" alt="Phong Nguyen's Linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Phong.MSIT/" target="_blank">
                            <img src="img/icon_sns_fbk.svg" alt="Phong Nguyen's Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/phong.msit/" target="_blank">
                            <img src="img/icon_sns_ig.svg" alt="Phong Nguyen's Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://zaloapp.com/qr/p/gzjteg0uj9g2" target="_blank">
                            <img class="img-lg" src="img/icon_sns_zalo.svg" alt="Phong Nguyen's Zalo">
                        </a>
                    </li>
                </ul>
                <div class="contact-btn">
                    <button class="btn btn-main">Let's talk ✉️</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="skills">
                    <li class="skills__group">
                        <h4>Development skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name">Javascript</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">HTML5</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">CSS3</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Python</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills__group">
                        <h4>Software skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name">Photoshop</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Adobe XD</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">After Effects</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">MS Office</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills__group">
                        <h4>Other skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name">English - R</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">English - W</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">English - L</div>
                                <div class="skill__percent" data-percent="60"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">English - S</div>
                                <div class="skill__percent" data-percent="70"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END information -->