<!-- Education -->
<section class="block" id="education">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Education</h2>
                <ul class="edu-list">
                    <li>
                        <div class="edu">
                            <div class="edu-img">
                                <img src="img/logo_hcmuit_2023.svg" alt="VNUHCM - University of Information Technology">
                            </div>
                            <div class="edu-content">
                                <p>
                                    <a href="https://uit.edu.vn/" target="_blank">VNUHCM - University of Information
                                        Technology</a><br>
                                    Master's degree in Information Technology.<br class="d-none d-md-block"> 2022
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="edu">
                            <div class="edu-img">
                                <img src="img/logo_hcmus_2023.svg" alt="VNUHCM - University of Science">
                            </div>
                            <div class="edu-content">
                                <p>
                                    <a href="https://hcmus.edu.vn/" target="_blank">VNUHCM - University of
                                        Science</a><br>
                                    Bachelor's degree in Information Technology.<br class="d-none d-md-block"> 2018
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END Education -->