<!-- information -->
<section class="block" id="information">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">About me</h2>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-12 col-lg-8">
                <div class="personal-info">
                    <h3>Phong Nguyễn aka Peter</h3>
                    <p>As an experienced software engineer, I specialize in information technology. </p>
                    <p>In the past 8 years, I've honed my expertise in frontend development and website design. I'm
                        eager to find a work environment that fosters skill enhancement and English language
                        improvement.</p>
                    <p>I excel in analytical thinking, planning, and problem-solving. My creative mindset allows me to
                        generate innovative ideas to enhance my performance at work.</p>
                    <p>The keywords that resonate with me are "focus", "reality" and "sustainability".</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="personal-contact">
                    <div class="contact-btn">
                        <a class="btn btn-main mb-lg-4 me-3 me-lg-0"
                            href="https://drive.google.com/file/d/1FGpsbBboGn7OdqOtunexftUTtaKkmEv6/view"
                            target="_blank">➡️ My
                            resume</a>
                        <a class="btn btn-main ml-1" href="mailto:phong.msit@gmail.com">Let's talk ✉️</a>
                    </div>
                    <ul class="personal-sns">
                        <li>
                            <a class="icon icon-skype" href="skype:live:.cid.b762fb09af84e112?chat"
                                title="Phong Nguyễn's Skype" rel="noopener"></a>
                        </li>
                        <li>
                            <a class="icon icon-linkedin" href="https://www.linkedin.com/in/phongmsit"
                                title="Phong Nguyễn's Linkedin" target="_blank">
                            </a>
                        </li>
                        <li>
                            <a class="icon icon-fbk" href="https://www.facebook.com/Phong.MSIT/"
                                title="Phong Nguyễn's Facebook" target="_blank">
                            </a>
                        </li>
                        <!-- <li>
                            <a class="icon icon-ig" href="https://www.instagram.com/abcdefghi/" title="Phong Nguyễn's Instagram" target="_blank">
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="skills">
                    <li class="skills__group">
                        <h4>Development skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name"><small>JS/HTML5/<br>CSS/SASS</small></div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">ReactJS</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">SQL</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">MongoDB</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">GIT</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Adobe script</div>
                                <div class="skill__percent" data-percent="75"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Python</div>
                                <div class="skill__percent" data-percent="75"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills__group">
                        <h4>Other skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name">English</div>
                                <div class="skill__percent" data-percent="75"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Photoshop</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Figma</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Adobe XD</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">After Effects</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">UI/UX</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">MS Office</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name"><small>DevOps (Digital Ocean)</small></div>
                                <div class="skill__percent" data-percent="65"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END information -->