<!-- Education -->
<section class="block" id="education">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Education</h2>
                <ul class="edu-list">
                    <li>
                        <a class="edu" href="https://www.uit.edu.vn/tra-cuu/van-bang/80540/thong-tin" target="_blank">
                            <div class="edu-img hcm-uit">
                            </div>
                            <div class="edu-content">
                                <p><span class="university">VNUHCM - University of Information Technology</span><br>
                                    Master's degree in Information Technology.<br class="d-none d-md-block"> 2022. <span class="link">View</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="edu" href="https://pdt.hcmus.edu.vn/dstn?masv=Nguy%E1%BB%85n+Th%C3%A0nh+Phong&sobang=qh24201801507"
                        target="_blank">
                            <div class="edu-img hcm-us">
                            </div>
                            <div class="edu-content">
                                <p><span class="university">VNUHCM - University of Science</span><br>
                                    Bachelor's degree in Information Technology.<br class="d-none d-md-block"> 2018. <span class="link">View</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>

                <h2 class="title">Certificates</h2>

                <ul class="certificate-list">
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/8783776db1b36dd0745e6eb1222e5a460a6608ce2bbac2ead32771688504fe54?u=2104329"
                            target="_blank">
                            <span class="by">LinkedIn Learning</span>
                            <span class="credit">Become a Full-Stack Web Developer</span>
                            <span class="link">View certificate</span>
                        </a>
                    </li>                    
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/a0700070dff5d0f982652512585f7875194b1095e8a394131d12901ad8dd3e1c?u=2104329"
                            target="_blank">
                            <span class="by">LinkedIn Learning</span>
                            <span class="credit">Explore React.js Development</span>
                            <span class="link">View certificate</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/99905f720a9bb7d8be3072c09f8d19261caf147d1fa13e55a75851385cd4dcd8?u=2104329"
                            target="_blank">
                            <span class="by">LinkedIn Learning</span>
                            <span class="credit">Git Essential Training</span>
                            <span class="link">View certificate</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/25c90ea860e1bbbae02cbbae17e0c5e9c1fa5dd59ac4a565dba5832d412a2e24?u=2104329"
                            target="_blank"><span class="by">LinkedIn Learning</span>
                            <span class="credit">Learning REST APIs</span>
                            <span class="link">View certificate</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/c653849c7d241f120d1894c77d9ff6f48bf64aa254bec9f045bbae47a1a29232?u=2104329"
                            target="_blank"><span class="by">LinkedIn Learning</span>
                            <span class="credit">Learning ECMAScript 6+ (ES6+)</span>
                            <span class="link">View certificate</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/47f3dabdfbc9a72405fbc7b76af98dc252fdc09e2e9512c75229db9253456041?u=2104329"
                            target="_blank"><span class="by">LinkedIn Learning</span>
                            <span class="credit">NoSQL Essential Training</span>
                            <span class="link">View certificate</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/learning/certificates/1e573fb622d559974a7fcf979f1f5f4b95203e1a002d917370549e0598ccacc8?u=2104329"
                            target="_blank"><span class="by">LinkedIn Learning</span>
                            <span class="credit">SQL Essential Training</span>
                            <span class="link">View certificate</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END Education -->