<!-- Projects -->
<section class="block" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">Projects</h2>
                <ul class="project-list">
                    <li class="project">
                        <a href="https://qr.phong.info" target="_blank" data-year="2023" title="QR code generator">
                            <span>QR code generator</span>
                        </a>
                    </li>
                    <li class="project">
                        <a href="https://moodboard.clickvmlyr.dev/dashboard" target="_blank" data-year="2023" title="VMLY&R Emotions Board">
                            <span>Emotions Board</span>
                        </a>
                    </li>
                    <li class="project">
                        <a href="https://aialdp.clickvmlyr.dev/product-huoutrang" target="_blank" data-year="2023" title="AIA Insurance">
                            <span>AIA Insurance</span>
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-teaplus" href="https://www.suntory.vn/vi/teaplus/" target="_blank" data-year="2022" title="Suntory Olong Teaplus+">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-kose" href="https://www.kose.co.jp/company/ja/kidzania/" target="_blank" data-year="2022" title="Kose Kidzania">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-infroneer" href="https://www.infroneer.com/en/" target="_blank" data-year="2022" title="Infroneer">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-sakata" href="https://sakata-tsushin.com/yomimono/tokushu/20210907_008353.html" target="_blank"
                            data-year="2021" title="Sakata">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-kikumasamune" href="https://www.kikumasamune.shop/c/gentei/netonly/ns501" target="_blank" data-year="2021" title="Kikumasamune">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-topvalu" href="https://www.topvalu.net/vegetive/" target="_blank" data-year="2021" title="Topvalu Vegetive">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-bictaglabel" href="https://www.biccamera.com/bc/c/original/taglabel/" target="_blank" data-year="2020" title="Bic original Tag label">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-bicbasic" href="https://www.biccamera.com/bc/c/original/basic/" target="_blank" data-year="2020" title="Bic original Basic">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-bicselect" href="https://www.biccamera.com/bc/c/original/select/" target="_blank" data-year="2020" title="Bic original Select">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-bicoriginal" href="https://www.biccamera.com/bc/c/original/" target="_blank" data-year="2020" title="Bic Original">
                        </a>
                    </li>
                    <li class="project">
                        <a class="pj-bickids" href="https://www.biccamera.co.jp/bic_kids/" target="_blank" data-year="2019" title="Bic Kids">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END Projects -->