<footer>
    <div class="container">
        <div class="row footer-content">
            <div class="col-12 col-md-6 col-lg-4">
                <h3>Phong MSIT | RESUME</h3>
                <p>My creative mindset allows me to generate innovative ideas to enhance my performance at work.</p>
                <p>The keywords that resonate with me are "focus", "reality" and "sustainability".</p>
            </div>
            <div class="col-12 col-md-6 col-lg-8 col-xl-7 offset-xl-1">
                <h3>Contact info</h3>

                <div class="contact-info">
                    <ul class="personal-info">
                        <!-- <li>
                            <a href="tel:+84000000000" class="phone">+84 000000000</a>
                        </li> -->
                        <li>
                            <a href="mailto:phong.msit@gmail.com" class="email">phong.msit@gmail.com</a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/hwBmtxqKtGwuPQvM6" target="_blank" class="location">Ho Chi Minh
                                city, Vietnam</a>
                        </li>
                    </ul>

                    <ul class="personal-sns">
                        <li>
                            <a class="icon icon-skype" href="skype:live:.cid.b762fb09af84e112?chat"
                                title="Phong Nguyễn's Skype" rel="noopener"></a>
                        </li>
                        <li>
                            <a class="icon icon-linkedin" href="https://www.linkedin.com/in/phongmsit"
                                title="Phong Nguyễn's Linkedin" target="_blank">
                            </a>
                        </li>
                        <li>
                            <a class="icon icon-fbk" href="https://www.facebook.com/Phong.MSIT/"
                                title="Phong Nguyễn's Facebook" target="_blank">
                            </a>
                        </li>
                        <!-- <li>
                            <a class="icon icon-ig" href="https://www.instagram.com/abcdefghi/"
                                title="Phong Nguyễn's Instagram" target="_blank">
                            </a>
                        </li> -->
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="copyright text-center">
                    &copy; Designed and developed by <a href="mailto:phong.msit@gmail.com">phong.msit</a>
                </div>
            </div>
        </div>
    </div>
</footer>