<!-- information -->
<section class="block" id="information">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="title">About me</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-8">
                <div class="personal-info">
                    <h3>Phong Nguyễn<sup> aka Peter</sup></h3>
                    <p>As an experienced software engineer, I specialize in information technology. </p>
                    <p>In the past 5 years, I've honed my expertise in frontend development and website design. I'm
                        eager to find a work environment that fosters skill enhancement and English language
                        improvement.</p>
                    <p>I excel in analytical thinking, planning, and problem-solving. My creative mindset allows me to
                        generate innovative ideas to enhance my performance at work.</p>
                    <p>The keywords that resonate with me are "focus," "reality," and "sustainability."</p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <ul class="personal-sns">
                    <li>
                        <a href="https://www.linkedin.com/in/phongmsit" target="_blank">
                            <img src="img/icon_sns_linkedin.svg" alt="Phong Nguyễn's Linkedin">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Phong.MSIT/" target="_blank">
                            <img src="img/icon_sns_fbk.svg" alt="Phong Nguyễn's Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/phong.msit/" target="_blank">
                            <img src="img/icon_sns_ig.svg" alt="Phong Nguyễn's Instagram">
                        </a>
                    </li>
                    <!-- <li>
                        <a href="https://zaloapp.com/qr/p/gzjteg0uj9g2" target="_blank">
                            <img class="img-lg" src="img/icon_sns_zalo.svg" alt="Phong Nguyễn's Zalo">
                        </a>
                    </li> -->
                </ul>
                <div class="contact-btn">
                    <a class="btn btn-main" href="mailto:phong.msit@gmail.com">Let's talk ✉️</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="skills">
                    <li class="skills__group">
                        <h4>Development skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name">Javascript</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">HTML5</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">CSS3</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Python</div>
                                <div class="skill__percent" data-percent="75"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Database</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">GIT</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Adobe script</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                        </div>
                    </li>
                    <li class="skills__group">
                        <h4>Other skills</h4>
                        <div class="skill-list">
                            <div class="skill">
                                <div class="skill__name">English</div>
                                <div class="skill__percent" data-percent="70"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Photoshop</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Figma</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">Adobe XD</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>
                            <div class="skill">
                                <div class="skill__name">After Effects</div>
                                <div class="skill__percent" data-percent="85"></div>
                            </div>                            
                            <div class="skill">
                                <div class="skill__name">UI/UX</div>
                                <div class="skill__percent" data-percent="80"></div>
                            </div>
                            
                            <div class="skill">
                                <div class="skill__name">MS Office</div>
                                <div class="skill__percent" data-percent="90"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- END information -->