//Set width by percent
@mixin set-with-by-percent {
    @for $i from 0 through 100 {
        [data-percent="#{$i}"] {
            $percentage: unquote("%");
            &::before {
                width: #{$i}$percentage !important;
            }
        }
    }
}

@include set-with-by-percent;

//Define --scroller
:root {
    --scroller-size: 650vw;

    @include media-breakpoint-up(xl) {
        --scroller-size: 120vw;
    }
}

//Marquee transition
@mixin transition-transform(
    $what: all,
    $duration: 1.4s,
    $timing: ease-in-out,
    $delay: 0s,
    $preface: webkit moz ms o spec
) {
    @each $browser in $preface {
        @if ($browser == spec) {
            transition: $what $duration $timing $delay;
        } @else {
            -#{$browser}-transition: $what $duration $timing $delay;
        }
    }
}

//Add box shadow
@mixin add-box-shadow($color: $secondary-color, $a: 5px, $b: 5px, $c: 0px) {
    box-shadow: $a $b $c $color;
}

//Animation text-scroller
@keyframes text-scroller {
    100% {
        transform: translateX(calc(var(--scroller-size) * -0.5));
    }
}


//Add background grid
@mixin add-background-grid($bgColor: $primary-color, $gridColor: #c9a025, $width: 0.1em, $size: 5em) {
    background-color: $bgColor;
    background-image: linear-gradient($gridColor $width, transparent $width),
        linear-gradient(90deg, $gridColor $width, transparent $width);
    background-size: $size $size;
    background-position: center;
}

@keyframes scaleProgress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.progress {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;

    @include media-breakpoint-up(md) {
        height: 4px;
    }
    .bar {
        background-color: $orange;
        height: 100%;
        width: 100%;
        transform-origin: 0 50%;
        animation-timeline: scroll(root);
        animation-name: scaleProgress;
        animation-duration: auto;
        animation-timing-function: linear;
        // border-top-right-radius: 15px;
        // border-bottom-right-radius: 15px;
    }
}
