//=== orientation
// $landscape: "(orientation: landscape)";
// $portrait: "(orientation: portrait)";

//=== color
$primary-color: #fbc82e;
$secondary-color: #2B3034;
$text-color: #222222;
$white: #fff;
$black: #000;
$yellow: #f3c444;
$blue: #4BA9E9;
$lightgreen: #94D861;
$orange: #E76E2A;
$colorNuy: #ffe9dc;

//=== Fonts
$font-primary: 'Montserrat', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;
$font-style-normal: normal;
$font-style-italic: italic;

//=== ETC
//$portraitRatio: 4/3 * 100%;
$page-duration-default: 0.5s;

